<component name="ArtifactManager">
  <artifact type="war" name="springboot-b-web:war">
    <output-path>$PROJECT_DIR$/springboot-b-web/target</output-path>
    <root id="archive" name="springboot-b-web-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springboot-b-web:war exploded" />
    </root>
  </artifact>
</component>